{% extends 'base_with_navbar.html' %}

{% block title %} Ad Request to Influencer {% endblock title %}
{% block content %}
<h1>Send Ad Requests to Influencers</h1>
<p>Here you'll be able to find more details about the Influencer</p>
{% for inf in influencer %}
    <div class="card col-3">
        <div class="shadow-sm p-5 mb-5 bg-body-tertiary rounded">
            <div class="card body">
                <h5 class="card name">Name: {{inf.name}}</h5>
                <p class ="card industry">Industry: {{inf.industry}}</p>
                <p class = 'card niche'>Niche: {{inf.niche}}</p>
                <p class = 'card platform_preference'>Platform-Preference: {{inf.platform_preference}}</p>
                <p class = 'card reach'>Reach: {{inf.reach}}</p>
                <p class = 'card following'>Following: {{inf.following}}</p>
                <a href="/send_request_inf/{{ inf.id }}" id = inf.id}} class="btn btn-primary">
                    <i class="fas fa-plus"></i>
                    Send Request
                </a>
            </div>
        </div>
    </div>
{% endfor %}

    
</form>

{% endblock content %}