{% extends 'base_with_navbar.html' %}

{% block title %}
Admin Home
    
{% endblock title %}
{% block content %}
    <h1>Welcome Admin</h1>
    <p></p>
    <!-- <button class="btn btn-primary" onclick="window.print();">
        <i class="fas fa-print"></i>
        Print
    </button>
    {% for camp in campaign %}
      <div class="card col-3">
          <div class="card body">
              <h5 class="card title">Name: {{camp.name_of_campaign}}</h5>
              <p class ="card description">Description: {{camp.description}}</p>
              <p class = 'card budget'>Budget: {{camp.Budget}}</p>
              <a href="/campaign_details/{{ camp.id }}" id = camp.id}} class="btn btn-primary">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  Details
              </a>
              <a href="/delete_campaign/{{ camp.id }}" class="btn btn-danger">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                Delete
              </a>
              <a href="/flag_campaign/{{ camp.id }}" class="btn btn-outline-danger">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                Flag
              </a>
              
          </div>
      </div>
    {% endfor %} -->

<hr>
<h2 class="display-2">Summary Statistics</h2>
<div>
    <canvas id="myChart"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  

<script>
    const ctx = document.getElementById('myChart').getContext('2d');
  
    new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['Influencer', 'Sponsor'],
        datasets: [{
          label: 'Split of Users on the Platform',
          data: [{{ inf }}, {{ spo }}],
          backgroundColor: ['#FF6384', '#36A2EB'],  // Example colors
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          tooltip: {
            enabled: true
          }
        }
      }
    });
</script>
  
   

{% endblock content %}