{% extends 'base_with_navbar.html' %}

{% block title %}
Campaigns
    
{% endblock title %}
{% block content %}
<h1>Active Campaigns</h1>

<div class="row">
    {% for camp in campaign %}
    <div class="card col-3">
        <div class="card-body">
            <h5 class="card-title">Name: {{ camp.name_of_campaign }}</h5>
            <p class="card-description">Description: {{ camp.description }}</p>
            <p class="card-budget">Budget: {{ camp.Budget }}</p>
            <a href="/campaign_details/{{ camp.id }}" class="btn btn-primary">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Details
            </a>
            <a href="/delete_campaign/{{ camp.id }}" class="btn btn-danger">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Delete
            </a>
            <form action="{{ url_for('flag_campaign', id=camp.id) }}" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-warning">
                    <i class="fa fa-flag" aria-hidden="true"></i> Flag Campaign
                </button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

<hr>

<h1>Flagged Campaigns</h1>
<div class="row">
    {% for camp in campaigns %}
    <div class="card col-3">
        <div class="card-body">
            <h5 class="card-title">Name: {{ camp.name_of_campaign }}</h5>
            <p class="card-description">Description: {{ camp.description }}</p>
            <p class="card-budget">Budget: {{ camp.Budget }}</p>
            <form action="{{ url_for('unflag_campaign', id=camp.id) }}" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-link">Unflag</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock content %}