{% extends 'base_with_navbar.html' %}

{% block title %} View - Campaign {% endblock title%}

{% block content %} 
<div class = 'container-fluid col - 10 align-center'>
    <h1 class = 'text-center'> Campaign Details</h1>
        <form method = 'POST' action={{"/campaign_details/" + campaign.id | string }}>
            <div class = 'container-fluid mb-3 col-6 align-center' >
                <label for="name_of_campaign" class = 'form-label'>Name of Campaign</label>
                <input type = 'text'  class = 'form-control' id='name_of_campaign' name ='name_of_campaign' value={{campaign.name_of_campaign}} readonly>
            </div>
            <div class = 'container-fluid mb-3 col-6 align-center' >
                <label for="description" class = 'form-label'>Description</label>
                <input type = 'text'  class = 'form-control' id='description' value = {{campaign.description}} name ='description' readonly>
            </div>
            <div class = 'container-fluid mb-3 col-6 align-center' >
                <label for="budget" class = 'form-label'>Budget</label>
                <input type = 'text'  class = 'form-control' id='budget' name ='budget' value = {{campaign.Budget}} readonly>
            </div>
            <div class="container-fluid mb-3 col-6 align-center">
                <label for="start_date" class="form-label">Start Date</label>
                <input type="date" class="form-control" id="start_date" name="start_date" value= {{campaign.start_date}} readonly>
            </div>
            <div class="container-fluid mb-3 col-6 align-center">
                <label for="end_date" class="form-label">End Date</label>
                <input type="date" class="form-control" id="end_date" name="end_date" value= {{campaign.end_date}} readonly>
            </div>
            <div class = 'container-fluid mb-3 col-6 align-center'>
                <label for="niche" class="form-label">Niche</label>
                <input type="text" class="form-control" id="niche" name="niche" value = {{campaign.niche}} readonly>
                   
            </div>
            <div class = 'container-fluid mb-3 col-6 align-center'>
                <label for="visibility" class="form-label">Visibility</label>
                <input type="text" class="form-control" id="visibility" name="visibility" value = {{campaign.visibility}} readonly>
                   
            </div>
            {% if session['Role'] == 'Sponsor' %}
                <div class = 'container-fluid mb-3 col-6 align-center'>
                <a href="/spo_home" id ="Home button" class="btn btn-primary">
                    <i class="fa fa-undo" aria-hidden="true"></i>
                    Back
                </a>
                </div>
            {% elif session['Role']=='Influencer' %}
            <div class = 'container-fluid mb-3 col-6 align-center'>
                <a href="/inf_home" id ="Home button" class="btn btn-primary">
                    <i class="fa fa-undo" aria-hidden="true"></i>
                    Back
                </a>
            </div>
            {% endif %}
        </form>
</div>
{% endblock content%}