{% extends 'base_with_navbar.html' %}

{% block title %} Ad Request {% endblock title %}

{% block content %}
<div class = 'container-fluid col-10 align-center'>
    <h1 class = "text-center - 5">Send a request to Sponsor</h1>
    <form method ='POST' action ={{"/send_request_inf/" + inf_id | string }}>
        <div class = 'container-fluid mb-3 col-4 align-center'>
            <div class = 'container-fluid mb-3 col-4 align-center' >
                <label for= "name_of_influencer" class = 'form-label'>Name of the Influencer</label>
                <input type = 'text'  class = 'form-control' id='name_of_influencer' name ='name_of_influencer' value = {{inf_name}} readonly>
            </div>
            <div class = 'container-fluid mb-3 col-4 align-center' ></div>
                <label for="campaign">Select a Campaign:</label>
                <select id="campaign" name="campaign_id">
                {% for campaign in campaigns %}
                    <option value="{{ campaign.id }}">{{ campaign.name_of_campaign }}</option>
                {% endfor %}
                </select>
            </div>
            <div  class = 'container-fluid mb-3 col-4 align-center'>
                <label for='message' class ='form-label'>Message</label>
                <input type="text" class="form-control" id="message" name="message" required>
            </div>
            <div class = 'container-fluid mb-3 col-4 align-center' >
                <label for="deliverables" class = 'form-label'>Deliverables</label>
                <input type = 'text'  class = 'form-control' id='deliverables' name ='deliverables' required>
            </div>
            <div class = 'container-fluid mb-3 col-4 align-center'>
                <label for="payment" class = 'form-label'>Payment</label>
                <input type = 'number'  class = 'form-control' id='payment' name ='payment' required>
            </div>
            <div class = 'mb-3'>
                <label for="status" class="form-label"></label>
                <select class="form-select" id="status" name="status" hidden required>
                    <option value="pending">Pending</option>
                    <option value="accepted">Accepted</option>
                    <option value="rejected">Rejected</option>
                </select>
            </div>
            <div class = 'container-fluid mb-3 col-6 align-center'>
                <a href="/spo_home" id ="Home button" class="btn btn-primary">
                    <i class="fa fa-undo" aria-hidden="true"></i>
                    Back
                </a>
            </div>
        <div class = 'container-fluid mb-3 col-6 align-center'>
        <button type="submit" class="btn btn-primary">Send Request</button>
        </div>
    </form>
</div>
{% endblock content %}